body {
	background-color:white;
	color:black;
	font-size:25px;
    height:100vh;
    place-items:center;
    margin:0;
    padding:0;
}

header, footer{
    background:rgba(0,0,0,50%);
}

header{
    width:100vw;
    height:10vh;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#000;
    font-family:"JetBrains Mono",monospace;
}

.name{
    margin:0 auto;
    font-size:75px;
}

.navbar{
    width:100vw;
    display:flex;
    align-items:center;
}

.dark-mode {
	background-color:#121212;
	color:white;
    .fa-circle-half-stroke,.name{
        color:white;
    }
    header, footer{
        background:rgba(255,255,255,50%);
    }
    .contents:hover .container{
        background:radial-gradient(#fff,rgba(255,255,255,25%));
    }
}

.btn{
    font-size:75px;
    border:none;
    margin:0 auto;
    background:transparent;
    color:black;
    border-radius:50%;
    cursor:pointer;
    display:flex;
    align-items:center;
    width:30px;
    height:30px;
}

.progress{
    position:fixed;
    top:0;
    left:0;
    z-index:9999;
    width:100%;
    height:10px;
    background: #2c2c2c;
}

.bar{
    display: block;
    width:0;
    border-radius:5px;
    height: inherit;
    background: linear-gradient(90deg, #33ffbb, #31acff, #2ad39f, #0170f0);
}

.main,.list{
    margin:0 auto;
}

.cars{
    display:flex;
    justify-content:center;
    list-style-type:none;
}

.heading{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:100px;
}

h1, .heading,.sub-heading{
    font-family:"Oswald",sans-serif;
}

.sub-heading{
    font-size:50px;
}

p, .para{
    font-size:30px;
    font-family:"Roboto",sans-serif;
}

.container{
    width:65vw;
    height:95vh;
    display:flex;
    align-items:center;
    transition:width 2s ease-in-out, border-radius 6s ease-in-out;
    border-radius:100%;
}

.contents:hover .container{
    width:90vw;
    background:radial-gradient(#fff,rgba(0,0,0,60%));
    border-radius:40px;
}

.content{
    height:0;
    width:0;
    opacity:0;
    transition:width 4s ease-in-out;
    margin-right: 20px;
}

.contents:hover .content{
    opacity:1;
    width: 670px;
    height:auto;
}

.more{
    border-style: none;
    padding:7px;
    border-radius: 10px;
    width:0;
    transition:width 10s ease-in-out;
}

.contents:hover .more{
    width:25%;
}

.car{
    width:1300px;
    height:731px;
    z-index:1;
    transform:translateX(0px);
    transition: width 2s ease-in-out, height 2s ease-in-out;
}

.contents:hover .car{
    width:670px;
    height:330px;
    animation:float 4s ease-in-out 2;
}

.logo_cont{
    width:400px;
    opacity:0;
    z-index:0;
    transition:opacity 2s ease-in-out;
    display:flex;
    justify-content:center;
    align-items:center;
}

.logo{
    width:0px;
    opacity:0;
    transition:opacity 10s ease-in-out, width 10s ease-in-out;
}

.contents:hover .logo_cont{
    left:25%;
    opacity:1;
}

.contents:hover .logo{
    width:1000px;
    opacity:0.25;
}

@keyframes float{
    0%{
        transform:translateY(0px);
    }

    25%{
        transform:translateY(-30px);
    }

    75%{
        transform:translateY(30px);
    }

    100%{
        transform:translateY(0px);
    }
}

footer{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:40vh;
}

.area{
    margin:0 auto;
}